html, body {
    height: 100%;
    overflow-y: hidden;
}

.page {
    overflow-x: auto; /* doesn't work */
    overflow-y: auto;
    position: fixed;
    top: 2.5rem;
    width: 100%;
    height: 100%;
}

.pageBody, .pageBodyLower {
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
}
.pageBodyLower {
    padding-top: 2rem;
}

#homePage .analyzeButton:hover .imageTitle {
    color: #03a9f4;
    font-weight: bold;
}

.SearchReactSelect-root-173 {
    display: inline-block;
    width: 90%;
}
