body {
  font-family: sans-serif;
  margin: 0;
}

.pageBody {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.App .navBar {
    color: rgba(0, 0, 0, 0.87);
    height: 2rem;
    width: 100%;
    position: relative;
}

.App .menu {
    margin-top: 0;
    list-style-type: none;
    padding-top: 0.8rem;
    padding-left: 1rem;
}

.App li {
    display: inline;
    padding: 1rem;
}

.App li.home {
    padding-right: 3rem;
}

.App .menu a {
    text-decoration-line: none;
    color: inherit;
}

.App .menu a:hover {
    text-decoration-line: underline;
}

.App .logo {
    position: absolute;
    left: 8.2rem;
    top: 0.3rem;
}
