
/* Popover arrow for clusters */
.popover_clusters::before{
    content:"";
    position: absolute;
    left: 45px !important;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #888 transparent;
    z-index:9998;
}
/* Popover arrow for genes */
.popover_genes::before{
    content:"";
    position: absolute;
    top: 42px !important;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #888 transparent transparent;
    z-index:9998;
}

/* top, right, bottom, left */
