
/* Popover menu arrows */
.popover_type_group::before,
.popover_clusters::before,
.popover_genes::before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index:9998;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #888 transparent;
}
.popover_type_group::before {
    left: 38px !important;
    top: 1px;
}
.popover_clusters::before {
    left: 45px !important;
    top: 9px;
}
.popover_genes::before{
    top: 28px !important;
    left: 0;
    border-width: 8px 8px 8px 0;
    border-color: transparent #888 transparent transparent;
}

/* top, right, bottom, left */
